.card-main {
    min-width: 150px;
    width: 18rem;
    background-color: coral;
}

.card-picture {
    min-width: 150px;
    min-height: 150px;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-color: gray;
    overflow: hidden;
    @apply rounded-t-lg;
}
.card-header {
    @apply mx-2;
}

.card-body {

}

.card-footer {

}
.card-picture-dark {

}
.card-header-dark {

}

.card-body-dark {

}

.card-footer-dark {

}