.card-main {
    min-width: 150px;
    width: 18rem;
    background-color: #FDD;
}

.card-picture {
    min-width: 150px;
    min-height: 150px;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-color: gray;
    overflow: hidden;
    @apply rounded-t-lg;
}
.card-header {
    display: flex;
    justify-content: center;
    font-weight: 900;
    color: #222;
    @apply mx-2;
}

.card-body {
    margin-left: 1em;
    margin-top: 0.5em;
    font-weight: 600;

}

.card-footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em ;
    font-weight: 200;
    margin-left: 1em;

}
.card-picture-dark {

}
.card-header-dark {

}

.card-body-dark {

}

.card-footer-dark {

}